[submodule "build/cookbooks/nodejs"]
	path = build/cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook.git
[submodule "build/cookbooks/apt"]
	path = build/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "build/cookbooks/build-essential"]
	path = build/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "build/cookbooks/yum-epel"]
	path = build/cookbooks/yum-epel
	url = https://github.com/opscode-cookbooks/yum-epel.git
[submodule "build/cookbooks/yum"]
	path = build/cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "build/cookbooks/redisio"]
	path = build/cookbooks/redisio
	url = https://github.com/brianbianco/redisio.git
[submodule "build/cookbooks/mongodb"]
	path = build/cookbooks/mongodb
	url = https://github.com/edelight/chef-mongodb.git
[submodule "build/cookbooks/rabbitmq"]
	path = build/cookbooks/rabbitmq
	url = https://github.com/kennonkwok/rabbitmq
[submodule "build/cookbooks/ulimit"]
	path = build/cookbooks/ulimit
	url = https://github.com/bmhatfield/chef-ulimit.git
[submodule "build/cookbooks/python"]
	path = build/cookbooks/python
	url = https://github.com/poise/python.git
[submodule "build/cookbooks/runit"]
	path = build/cookbooks/runit
	url = https://github.com/hw-cookbooks/runit.git
[submodule "build/cookbooks/yum-erlang_solutions"]
	path = build/cookbooks/yum-erlang_solutions
	url = https://github.com/opscode-cookbooks/yum-erlang_solutions.git
[submodule "build/cookbooks/erlang"]
	path = build/cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
