FORMAT: 1A
HOST: http://demo.joola.io

# joola.io
joola.io is an open-source data analytics and visualization framework.

# Group Workspaces
Notes related resources of the **Workspaces API**

## Workspaces [/workspaces{?APIToken}]
### List all Workspaces [GET]
+ Response 200 (application/json)

        [{
          "key": "demo-mousemoves",
          "name": "demo-mousemoves",
          "strongTyped": true,
          "timestamp": {
            "datatype": "date",
            "type": "dimension",
            "name": "timestamp",
            "key": "timestamp"
          },
          "browser": {
            "datatype": "string",
            "type": "dimension",
            "name": "browser",
            "key": "browser"
          },
          "engine": {
            "datatype": "string",
            "type": "dimension",
            "name": "engine",
            "key": "engine"
          },
          "os": {
            "datatype": "string",
            "type": "dimension",
            "name": "os",
            "key": "os"
          },
          "userid": {
            "datatype": "string",
            "type": "dimension",
            "name": "userid",
            "key": "userid"
          },
          "ip": {
            "datatype": "ip",
            "type": "dimension",
            "name": "ip",
            "key": "ip"
          },
          "referrer": {
            "datatype": "string",
            "type": "dimension",
            "name": "referrer",
            "key": "referrer"
          },
          "mousemoves": {
            "datatype": "number",
            "type": "metric",
            "name": "mousemoves",
            "key": "mousemoves",
            "min": 0,
            "max": 1000
          }
        }]

### Create a Workspace [POST]
+ Request (application/json)

        { "key": "workspace-name", "name": "Workspace Name" }

+ Response 200 (application/json)

        { "key": "workspace-name", "name": "Workspace Name" }

+ Response 500 (application/json)

        { "message": "workspace already exists", "documentation_url": "http://github.com/joola/joola.io/wiki" }

## Workspace [/workspaces/{key}{?APIToken}]
A single Workspace object with all its details

+ Parameters
    + key (required, string, `demo-collection`) ... String `key` of the Workspace to perform action with. Has example value.
    + APIToken (required, string, `your-api-token`) ... String `APIToken`.
    
### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204

# Group Collections
Notes related resources of the **Collections API**

## Collections [/collections]
### List all Collections [GET]
+ Response 200 (application/json)

        [{
          "key": "demo-mousemoves",
          "name": "demo-mousemoves",
          "strongTyped": true,
          "timestamp": {
            "datatype": "date",
            "type": "dimension",
            "name": "timestamp",
            "key": "timestamp"
          },
          "browser": {
            "datatype": "string",
            "type": "dimension",
            "name": "browser",
            "key": "browser"
          },
          "engine": {
            "datatype": "string",
            "type": "dimension",
            "name": "engine",
            "key": "engine"
          },
          "os": {
            "datatype": "string",
            "type": "dimension",
            "name": "os",
            "key": "os"
          },
          "userid": {
            "datatype": "string",
            "type": "dimension",
            "name": "userid",
            "key": "userid"
          },
          "ip": {
            "datatype": "ip",
            "type": "dimension",
            "name": "ip",
            "key": "ip"
          },
          "referrer": {
            "datatype": "string",
            "type": "dimension",
            "name": "referrer",
            "key": "referrer"
          },
          "mousemoves": {
            "datatype": "number",
            "type": "metric",
            "name": "mousemoves",
            "key": "mousemoves",
            "min": 0,
            "max": 1000
          }
        }]

### Create a Collection [POST]
+ Request (application/json)

        { "key": "workspace-name", "name": "Workspace Name" }

+ Response 200 (application/json)

        { "key": "workspace-name", "name": "Workspace Name" }

+ Response 500 (application/json)

        { "message": "workspace already exists", "documentation_url": "http://github.com/joola/joola.io/wiki" }

## Collection [/collections/{key}]
A single Collection object with all its details

+ Parameters
    + key (required, string, `demo-collection`) ... String `key` of the Workspace to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204




# Group Roles
joola.io uses `Roles` to assign `Permissions` to `Users`.

### Role Structure
| Field        | Type   | Description                             |
|--------------|--------|-----------------------------------------|
| key          | string | `string` Role unique key.               |
| _permissions | array  | Permissions associated with this Role.  |
| _filter      | array  | Filters to apply on users of this Role. |

## Roles [/roles/{workspace}]
### List all Roles [GET]
+ Response 200 (application/json)

        {
          "root": {
            "key": "root",
            "_permissions": ["access_system", "manage_system", "manage_users", "beacon_insert", "query_fetch"],
            "_filter": []
          },
          "user": {
            "key": "user",
            "_permissions": ["access_system"],
            "_filter": []
          },
          "beacon": {
            "key": "user",
            "_permissions": ["beacon_insert"],
            "_filter": []
          },
          "reader": {
            "key": "user",
            "_permissions": ["access_system"],
            "_filter": []
          }
        }

### Create a Role [POST]
+ Request (application/json)

        { "key": "role-name", "name": "Role Name", "_filter": [] }

+ Response 200 (application/json)

        { "key": "role-name", "name": "Role Name", "_filter": [] }

+ Response 500 (application/json)

        { "message": "role already exists", "documentation_url": "http://github.com/joola/joola.io/wiki" }

## Role [/roles/{workspace}/{key}]
A single Collection object with all its details

+ Parameters
    + key (required, string, `role-user`) ... String `key` of the Role.

### Retrieve a Role [GET]
+ Response 200 (application/json)

        {
            "key": "root",
            "_permissions": ["access_system", "manage_system", "manage_users", "beacon_insert", "query_fetch"],
            "_filter": []
        }

+ Response 500 (application/json)

        { "message": "role [{key}] does not exist.", "documentation_url": "http://github.com/joola/joola.io/wiki" }

### Update a Role [PATCH]
+ Request (application/json)

        { "key": "role-name", "name": "New Role Name", "_filter": [['dimension', 'eq', 'value']] }
        
+ Response 200

        { "key": "role-name", "name": "New Role Name", "_filter": [['dimension', 'eq', 'value']] }

+ Response 500 (application/json)

        { "message": "role [{key}] does not exist.", "documentation_url": "http://github.com/joola/joola.io/wiki" }

### Remove a Role [DELETE]
+ Response 200

+ Response 500 (application/json)

        { "message": "role [{key}] does not exist.", "documentation_url": "http://github.com/joola/joola.io/wiki" }
