FORMAT: 1A
HOST: http://demo.joola.io

# joola.io
joola.io is an open-source data analytics and visualization framework.
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Notes
Notes related resources of the **Notes API**

## Workspaces [/workspaces]
### List all Workspaces [GET]
+ Response 200 (application/json)

        [{
          "key": "demo-mousemoves",
          "name": "demo-mousemoves",
          "strongTyped": true,
          "timestamp": {
            "datatype": "date",
            "type": "dimension",
            "name": "timestamp",
            "key": "timestamp"
          },
          "browser": {
            "datatype": "string",
            "type": "dimension",
            "name": "browser",
            "key": "browser"
          },
          "engine": {
            "datatype": "string",
            "type": "dimension",
            "name": "engine",
            "key": "engine"
          },
          "os": {
            "datatype": "string",
            "type": "dimension",
            "name": "os",
            "key": "os"
          },
          "userid": {
            "datatype": "string",
            "type": "dimension",
            "name": "userid",
            "key": "userid"
          },
          "ip": {
            "datatype": "ip",
            "type": "dimension",
            "name": "ip",
            "key": "ip"
          },
          "referrer": {
            "datatype": "string",
            "type": "dimension",
            "name": "referrer",
            "key": "referrer"
          },
          "mousemoves": {
            "datatype": "number",
            "type": "metric",
            "name": "mousemoves",
            "key": "mousemoves",
            "min": 0,
            "max": 1000
          }
        }]

### Create a Workspace [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 200 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Workspace [/workspaces/{key}]
A single Workspace object with all its details

+ Parameters
    + key (required, string, `demo-collection`) ... String `key` of the Workspace to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204
