include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper(ng-controller="userCtrl")
      .row
        .col-lg-12
          h1.page-caption
            | User Management&nbsp;
            small
          ol.breadcrumb
            li.active
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;User management
          .alert.alert-info
            //button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | The System Logs and Alerts view shows all logged events within the system.
            | You can filter events by time period and other criteria. To learn more about this view, check out our&nbsp;
            a(href="#wiki") wiki
            | .
      .row

        #content.col-sm-12
          .row
            .col-lg-12
              .pull-right
                button#addUserBtn.btn.btn-primary(ng-click="prepareAddUser()") Add user
              br
              br
              table.table.table-striped
                thead
                  th Username
                  th Display name
                  th Roles
                  th Filter
                  th Organization
                  th Auth store
                  th Last login
                  th Login count
                  th Operations
                tbody#logtbody
                  tr(ng-repeat="user in list", ng-cloak)
                    td {{user.username || 'N\\A'}}
                    td {{user.displayName || 'N\\A'}}
                    td
                      ul
                        li(ng-repeat="role in user._roles") {{role}} 
                    td {{user._filter || 'N\\A'}}
                    td {{user.organization || 'N\\A'}}
                    td {{user.store || 'N\\A'}}
                    td {{user.lastlogin || 'N\\A'}}
                    td {{user.logincount || 'N\\A'}}
                    td
                      a(href="#", id="editUser", ng-click="userEdit(user.username)") Edit 
                      | | 
                      a(href="#", id="deleteUser", ng-click="dryDel(user.username)") Delete 
      #editUserDialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title
            .modal-body
              form#editUserForm(role="form")
                .form-group
                  label(for="username") Username
                  input.form-control(type="text", name="username", id="username", value="{{editUsername}}", disabled="disabled")
                .form-group
                  label(for="displayname") Display Name
                  input.form-control(type="text", name="displayName", value="{{editDisplayName}}", id="displayname")
                .form-group
                  label(for="roles") Roles
                  div.checkbox(ng-repeat="(rolekey,roleval) in editRoles")
                    label
                      input(type="checkbox", value="{{rolekey}}", name="_roles", ng-checked="{{roleval.checked=='checked'}}")
                      | {{rolekey}}
                .form-group
                  label(for="filters") Filter
                  input.form-control(type="text", name="_filter", value="{{editFilters}}", id="filters")
                .form-group
                  label(for="orgs") Organization
                  div.radio(ng-repeat="(orgkey,orgval) in editOrgs")
                    label
                      input(type="radio", value="{{orgkey}}", id="orgs", name="organization", ng-checked="{{orgval.checked=='checked'}}")
                      | {{orgkey}}
                .form-group
                  label(for="store") Auth store
                  input.form-control(type="text", name="store", value="{{editStore}}", id="store")

            .modal-footer
              .spinner
                .cube1
                .cube2
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button', ng-click="updateUser()") Save changes

      #addUserDialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Add a new user
            .modal-body
              form#addUserForm(role="form")
                .form-group
                  label(for="add_username") Username
                  input.form-control(type="text", name="username", id="add_username")
                .form-group
                  label(for="add_password") Password
                  input.form-control(type="text", name="_password", id="add_password")
                .form-group
                  label(for="add_displayname") Display Name
                  input.form-control(type="text", name="displayName", id="add_displayname")
                .form-group
                  label(for="roles") Roles
                  div.checkbox(ng-repeat="(rolekey,roleval) in roleList")
                    label
                      input(type="checkbox", name="_roles", value="{{rolekey}}")
                      | {{rolekey}}
                .form-group
                  label(for="add_filters") Filters
                  input.form-control(type="text", name="_filter", id="add_filters")
                .form-group
                  label(for="orgs") Organization
                  div.radio(ng-repeat="(orgkey,orgval) in orgList")
                    label
                      input(type="radio", name="organization", value="{{orgkey}}")
                      | {{orgkey}}
                .form-group
                  label(for="add_store") Auth store
                  input.form-control(type="text", name="store", id="add_store")

            .modal-footer
              .spinner
                .cube1
                .cube2
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button', ng-click="addUser()") Add user
      #warning.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Warning
            .modal-body
              p: strong Are you sure you want to delete the user {{deluserval}}?
            .modal-footer
              .spinner
                .cube1
                .cube2
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-danger(type='button', ng-click="userDel(deluserval)") Delete {{deluserval}}
    .clearfix
  include ../layout_footer
  script(src="/js/lib/logger.js")