include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper(ng-controller="roleCtrl")
      .row
        .col-lg-12
          h1.page-caption
            | User Management&nbsp;
            small
          ol.breadcrumb
            li.active
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;User management
          .alert.alert-info
            //button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | The System Logs and Alerts view shows all logged events within the system.
            | You can filter events by time period and other criteria. To learn more about this view, check out our&nbsp;
            a(href="#wiki") wiki
            | .
      .row
        #content.col-sm-12
          .row
            .col-lg-12
              .pull-right
                button#addRoleBtn.btn.btn-primary(ng-click="prepareAddRole()") Add role
              br
              br
              table.table.table-striped
                thead
                  th Role
                  th Permissions
                  th Filter
                  th Operations
                tbody#logtbody
                  tr(ng-repeat="role in list", ng-cloak)
                    td {{role.name || 'N\\A'}}
                    
                    td
                      ul
                        li(ng-repeat="perm in role.permissions") {{perm}}
                    td {{role._filter}}
                    td
                      a(href="#", id="editRole", ng-click="roleEdit(role.name)") Edit 
                      | | 
                      a(href="#", id="deleteRole", ng-click="dryDel(role.name)") Delete 
      #editRoleDialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title
            .modal-body
              form#editRoleForm(role="form")
                .form-group
                  label(for="name") Role Name
                  input.form-control(type="text", name="name", id="rolename", value="{{editRolename}}", disabled="disabled")

                .form-group
                  label(for="filter") Filters
                  input.form-control(type="text", name="_filter", id="filter", value="{{editFilters}}")
                
                .form-group
                  label(for="permissions") Permissions
                  div.checkbox(ng-repeat="(permkey,permval) in editPermissions")
                    label
                      input(type="checkbox", value="{{permkey}}", name="permissions", ng-checked="{{permval.checked=='checked'}}")
                      | {{permkey}}
            .modal-footer
              .spinner
                .cube1
                .cube2
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button', ng-click="updateRole()") Save changes
      #addRoleDialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Add a new user
            .modal-body
              form#addRoleForm(role="form")
                .form-group
                  label(for="add_rolename") Name
                  input.form-control(type="text", name="name", id="add_rolename")

                .form-group
                  label(for="filter") Filters
                  input.form-control(type="text", name="_filter", id="filter")
                
                .form-group
                  .div.checkbox(ng-repeat="(permkey,permval) in permList")
                    label
                      input(type="checkbox", value="{{permval}}", name="permissions")
                      | {{permval}}
                
            .modal-footer
              .spinner
                .cube1
                .cube2
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button', ng-click="addRole()") Add role

      #warning.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Warning
            .modal-body
              p: strong Are you sure you want to delete the role {{delroleval}}?
            .modal-footer
              .spinner
                .cube1
                .cube2
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-danger(type='button', ng-click="roleDel(delroleval)") Delete {{delroleval}}
    .clearfix
  include ../layout_footer
  script(src="/js/lib/logger.js")