<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="analytics, visualization, json, big-data, data analytics, embedded analytics">
  <meta property="og:title" content="Data middleware for building custom analytics applications" />
  <meta property="og:description" content="Joola is the easiet way to create data analytics applications">
  <meta property="og:image" content="http://joolajs.org/img/joola_full_blue.png">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type" content="website" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" href="{{ "/img/ico/favicon.ico" | prepend: site.baseurl }}">
  <title>Joola - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href="{{ "/fonts/octicons/octicons.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/javascripts/tipuesearch/tipuesearch.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/css/site.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
</head>
