<!--header-->
<div id="navigation" role="navigation" class="navbar main-nav navbar-static-top">

  <div class="main-nav">
    <div class="container header-wrapper">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
          <span class="icon-bar"></span><span class="icon-bar"></span></button>
        <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-brand"><img src="{{ "/img/joola_full_blue.png" | prepend: site.baseurl }}"></a></div>
      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a data-toggle="" href="{{ "/docs/" | prepend: site.baseurl }}" role="button" aria-expanded="false"
                                          class="menulink dropdown-toggle">intro</a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/company/about/">Terminology</a></li>
              <li><a href="/company/why-joola/">Download & install</a></li>
              <li><a href="/company/approach/">Configure</a></li>
              <li><a href="/company/clients/">Data integration</a></li>
              <li><a href="/company/clients/">Website integration</a></li>
              <li><a href="/company/clients/">REST API</a></li>
              <li><a href="/company/clients/">SDK</a></li>
              <li><a href="/company/clients/">About the project</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="" href="{{ "/docs/" | prepend: site.baseurl }}" role="button" aria-expanded="false"
            class="menulink dropdown-toggle">config</a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/company/about/">Terminology</a></li>
              <li><a href="/company/why-joola/">Download & install</a></li>
              <li><a href="/company/approach/">Configure</a></li>
              <li><a href="/company/clients/">Data integration</a></li>
              <li><a href="/company/clients/">Website integration</a></li>
              <li><a href="/company/clients/">REST API</a></li>
              <li><a href="/company/clients/">SDK</a></li>
              <li><a href="/company/clients/">About the project</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="" href="{{ "/docs/" | prepend: site.baseurl }}" role="button" aria-expanded="false"
            class="menulink dropdown-toggle">scale</a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/company/about/">Terminology</a></li>
              <li><a href="/company/why-joola/">Download & install</a></li>
              <li><a href="/company/approach/">Configure</a></li>
              <li><a href="/company/clients/">Data integration</a></li>
              <li><a href="/company/clients/">Website integration</a></li>
              <li><a href="/company/clients/">REST API</a></li>
              <li><a href="/company/clients/">SDK</a></li>
              <li><a href="/company/clients/">About the project</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="" href="{{ "/docs/" | prepend: site.baseurl }}" role="button" aria-expanded="false"
            class="menulink dropdown-toggle">dev</span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/company/about/">Terminology</a></li>
              <li><a href="/company/why-joola/">Download & install</a></li>
              <li><a href="/company/approach/">Configure</a></li>
              <li><a href="/company/clients/">Data integration</a></li>
              <li><a href="/company/clients/">Website integration</a></li>
              <li><a href="/company/clients/">REST API</a></li>
              <li><a href="/company/clients/">SDK</a></li>
              <li><a href="/company/clients/">About the project</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="" href="{{ "/docs/" | prepend: site.baseurl }}" role="button" aria-expanded="false"
            class="menulink dropdown-toggle">about</span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a href="/company/about/">Terminology</a></li>
              <li><a href="/company/why-joola/">Download & install</a></li>
              <li><a href="/company/approach/">Configure</a></li>
              <li><a href="/company/clients/">Data integration</a></li>
              <li><a href="/company/clients/">Website integration</a></li>
              <li><a href="/company/clients/">REST API</a></li>
              <li><a href="/company/clients/">SDK</a></li>
              <li><a href="/company/clients/">About the project</a></li>
            </ul>
          </li>
          <li class="news"><a href="{{ "/services" | prepend: site.baseurl }}" class="menulink">services</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--end of header-->