include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper
      .row
        .col-lg-12
          h1.page-caption
            | Logs&nbsp;
            small dig through the inner happenings of joola.io
      .row
        #content.col-sm-11
          .row
            .col-lg-12
              div#log(ng-controller="logCtrl")
                ul.list-inline
                  li: a(href="#", ng-click="eventDateFilter('all')") All
                  li: a(href="#", ng-click="eventDateFilter('day')") Last day
                  li: a(href="#", ng-click="eventDateFilter('1hour')") Last hour
                  li: a(href="#", ng-click="eventDateFilter('5min')") Last 5 minutes
                  li: a(href="#", ng-click="eventDateFilter('1min')") Last minute
                table.table.table-striped
                  thead
                    th(style="width:160px;") Timestamp
                    th Hostname
                    th Level
                    th PID
                    th Message
                  tbody#logtbody
                    tr(ng-repeat="l in log")
                      td {{l.time | date:'yyyy-MM-dd hh:mm:ss'}}
                      td {{l.hostname}}
                      td {{l.level}}
                      td {{l.pid}}
                      td {{l.msg}}
      #myModal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
              h4.modal-title Modal title
            .modal-body
              p Here settings can be configured...
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes
    .clearfix
  
  include ../layout_footer
  script(src="/js/lib/logger.js")