<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="analytics, visualization, json, big-data, data analytics, embedded analytics">
  <meta property="og:description" content="Joola is the easiet way to create data analytics applications">
  <meta property="og:image" content="https://joo.la/img/logo_blue_fb.png">
  <link rel="shortcut icon" href="{{ "/img/ico/favicon.ico" | prepend: site.baseurl }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Joola</title>
  <!--<link href="{{ "/css/reset.css" | prepend: site.baseurl }}" rel="stylesheet">-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  <link href="//google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet">
  <link href="{{ "/fonts/font-awesome-4.1.0/css/font-awesome.min.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/css/joola.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/javascripts/tipuesearch/tipuesearch.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/css/pretty.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
  <link href="{{ "/css/site.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//google-code-prettify.googlecode.com/svn/trunk/src/prettify.js"></script>
  <script src="{{ "/javascripts/jQuery.timeago.js" | prepend: site.baseurl }}"></script>
  
  <script src="http://localhost:8080/ip"></script>
  <script src="http://localhost:8080/joola.js?APIToken=apitoken-demo"></script>

  
  <script src="{{ "/javascripts/site.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascripts/tipuesearch/tipuesearch_content.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascripts/tipuesearch/tipuesearch_set.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascripts/tipuesearch/tipuesearch.js" | prepend: site.baseurl }}"></script>
</head>
