include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper(ng-controller="settingsCtrl")
      .row
        .col-lg-12
          h1.page-caption
            | System Settings&nbsp;
            small
          ol.breadcrumb
            li.active
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;General Settings
          
      .row
        #content.col-sm-12
          .row
            .col-lg-4
              form#systemsettings
                .form-group
                  label.control-label(for="systemname") System name 
                  input.form-control(type="text", id="systemname", name="systemname", ng-model="system.name", placeholder="mycompany")
                
                .form-group
                  label.control-label(for="adminemail") Administrator email
                  input.form-control(type="email", id="adminemail", name="adminemail", ng-model="system.adminemail", placeholder="john@doe.com")
           
                .form-group
                  
                  label.control-label Email alerts
                  br
                  label.checkbox-inline
                    input(type="checkbox", value="warnings")
                    | Warnings
                  label.checkbox-inline
                    input(type="checkbox", value="warnings")
                    | Errors
                  label.checkbox-inline
                    input(type="checkbox", value="warnings")
                    | Loop blocks
                  label.checkbox-inline
                    input(type="checkbox", value="warnings")
                    | Auth fails

                .form-group
                  label.control-label(for="dateformat") Date format
                  input.form-control(type="text", id="dateformat", name="dateformat", ng-model="system.dateformat", placeholder="YYYY-MM-DD HH:ii:ss")

                .form-group
                  button.btn.btn-primary(ng-click="saveSettings()") Save settings 
                  | &nbsp;
                  button.btn.btn-warning(ng-click="purgeCache()") Purge Cache
                  | &nbsp;
                  button.btn.btn-danger(ng-click="takeOffline()") Take system offline 
              


  .clearfix
  include ../layout_footer
  script(src="/js/lib/logger.js")