include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper(ng-controller="settingsCtrl")
      .row
        .col-lg-12
          h1.page-caption
            | System Settings&nbsp;
            small
          ol.breadcrumb
            li.active
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;General Settings
      .row
        .col-sm-12
          .row
            .col-lg-4
              .settingbox.well
                form#webinterface
                  .form-group
                    label.control-label(for="systemhost") Webserver host
                    input.form-control(type="text", ng-model="settings.interfaces.webserver.host")
                  .form-group
                    label.control-label(for="systemport") Webserver port
                    input.form-control(type="text", ng-model="settings.interfaces.webserver.port")

                  .form-group
                    label.control-label(for="systemport") Webserver session duration
                    input.form-control(type="text", ng-model="settings.interfaces.webserver.sessionDuration")

                  .form-group
                    label
                      input(type="checkbox", ng-model="settings.interfaces.webserver.secure")  
                      |  Enable HTTPS
                  
                  .form-group
                    label.control-label(for="systemport") Webserver secure port
                    input.form-control(type="text",  ng-model="settings.interfaces.webserver.securePort", ng-disabled="settings.interfaces.webserver.secure == false")

                  .form-group
                    label.control-label(for="systemport") Webserver key file
                    input.form-control(type="text",  ng-model="settings.interfaces.webserver.keyFile", ng-disabled="settings.interfaces.webserver.secure == false")

                  .form-group
                    label.control-label(for="systemport") Webserver cert file
                    input.form-control(type="text", ng-model="settings.interfaces.webserver.certFile", ng-disabled="settings.interfaces.webserver.secure == false")

            .col-lg-4
              .settingbox.well
                form#beaconinterface
                  .form-group
                    label
                      input(type="checkbox", ng-model="settings.interfaces.beacon.enabled")
                      |  Enable Beacon
                  .form-group
                    label.control-label(for="systemport") Beacon port
                    input.form-control(type="text", ng-model="settings.interfaces.beacon.port")

            .col-lg-4
              .settingbox.well
                form#replinterface
                  .form-group
                    label
                      input(type="checkbox", ng-model="settings.interfaces.repl.enabled")
                      |  Enable Repl
                  .form-group
                    label.control-label(for="systemport") Repl port
                    input.form-control(type="text", ng-model="settings.interfaces.repl.port")


          .row
            .col-lg-4
              .form-group
                button.btn.btn-primary(ng-click="saveInterfaces()") Save settings 
  .clearfix
  include ../layout_footer