include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper(ng-controller="settingsCtrl")
      .row
        .col-lg-12
          h1.page-caption
            | System Settings&nbsp;
            small
          ol.breadcrumb
            li.active
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;Logging Settings
      .row
        .col-sm-12
          .row
            .col-lg-4

              form#logging
                .form-group
                  label.control-label Logging Level
                  input.form-control(type="text", ng-model="settings.logging.level")

                .form-group
                  label Logging stores
                  div.checkbox(ng-repeat="(storekey,storeval) in settings.logging.stores")
                    label
                      input(type="checkbox", value="{{storekey}}", ng-checked="{{storeval.checked=='checked'}}")
                      | {{storeval}}
                
                .form-group
                  label.control-label Logging Stores
                  input.form-control(type="text", ng-model="settings.logging.stores")
                
          .row
            .col-lg-4
              .form-group
                button.btn.btn-primary(ng-click="saveInterfaces()") Save settings 
  .clearfix
  include ../layout_footer