include layout_head

.container
  h1.page-header Benchmark 
    small an interactive benchmarking tool

  .container
  .row
    .col-md-12
      .usage-container
        #usage.usage
  .row
    .col-md-3
      h4 EPS
      p How many API calls per second are processed.
      button.btn.btnStop Stop
    .col-md-3
      h4 BPS
      p How many Bytes are communicated back and forth.
    .col-md-3
      h4 Wait Time
      p How long it takes for API calls to fully complete.
    .col-md-3
      h4 API Latency
      p How much time of each call is spent server-side, on the joola.io framework.
      button.btn.btnStart Start

.container
  .row
    .col-md-12
      .bs-docs-section(id="gettingstarted")
        h1.page-header What is this benchmark?
        p.lead An overview of joola.io, how to setup, configure and use.
        p.
          joola.io was designed by developers for developers. We did the heavy-lifting with all that is data and framework related,
          this is what makes joola.io so easy and fun to play with.<br/>
          The project is rich with <a href="http://github.com/joola/joola.io">documentation</a>, <a href="#examples">examples</a> and <a href="http:github.com/joola/joola.io/wiki/workshops">workshops</a>.
        p.
          Below is a quick guide for getting started with your first visualization and some basic concepts used throughout.
        .bs-callout.bs-callout-warning
          h4 Assumptions
          p.
            Please note that for this getting started guide we'll be assuming <code>localhost</code> as your server and <code>apitoken-root</code> as your APIToken (default).
            <br/>Also, when referring to dependencies such as <a href="http://mongodb.org">MongoDB</a>, <a href="http://redis.io">Redis</a>, etc... we assume that these are installed on your <code>localhost</code>.
          p.
            For a complete setup and configuration guide, please refer to our <a href="http://github.com/joola/joola.io/wiki">wiki</a>.
        
include layout_footer