script(src='/joola.io.js')
script(src='/js/lib/angular/angular.js')
script(src='/js/lib/angular/angular-route.js')
script(src='/js/lib/angular/app.js')
script(src='/js/lib/angular/services.js')
script(src='/js/lib/angular/controllers.js')
script(src='/js/lib/angular/filters.js')
script(src='/js/lib/angular/directives.js')

script(src='/js/lib/retina.min.js')