script(src='http://code.jquery.com/jquery-1.10.2.min.js')
script(src='/joola.io.js')
script(src='/js/lib/angular/angular.js')
script(src='/js/lib/angular/angular-route.js')
script(src='/js/lib/angular/app.js')
script(src='/js/lib/angular/services.js')
script(src='/js/lib/angular/controllers.js')
script(src='/js/lib/angular/filters.js')
script(src='/js/lib/angular/directives.js')
script(src='/js/lib/retina.min.js')
script(src='http://code.jquery.com/jquery-2.0.3.min.js')
script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
script(src='/js/lib/bootstrap/bootstrap.min.js')
script(src='/js/lib/jquery/jquery-ui-1.10.3.custom.min.js')
script(src='/js/lib/core.min.js')

