!!! 5
html(lang='en', ng-app="ngjoola", xmlns:ng="http://angularjs.org")
  head
    meta(charset='utf-8')
    title ACME Dashboard - Perfect Bootstrap Admin Template
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.min.css', rel='stylesheet')
    link(href='/css/retina.css', rel='stylesheet')
