!!! 5
html(lang='en', ng-app="ngjoola", xmlns:ng="http://angularjs.org")
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='')
  title Dashboard - joola.io
  link(href='/css/bootstrap.min.css', rel='stylesheet')
  link(href='/css/style.min.css', rel='stylesheet')
  link(rel='stylesheet', href='/css/font-awesome.min.css')
