include layout_head

nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#main-nav")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#") joola.io
    .collapse.navbar-collapse(id="main-nav")
      ul.nav.navbar-nav
        li
          a(href="#demo") Demo
        li
          a(href="#gettingstarted") Getting started
        li
          a(href="#examples") Examples
        li
          a(href="http://github.com/joola/joola.io/wiki") Documentation
      ul.nav.navbar-nav.navbar-right
        li
          a(href="http://blog.joola.io") Blog
        li
          a(href="http://github.com/joola/joola.io") joola.io

main.bs-docs-masthead(id="content", role="main")
  .container
    img(src="img/hero.png")
    p.lead Liberating data. Big-Data analytics and visualization.
    p.lead
      a.btn.btn-outline-inverse.btn-lg(href="http://github.com/joola/joola.io") View the GitHub project
    p.version Currently v#{version}

.container
  .row
    .col-md-12
      .bs-docs-section(id="demo")
        h1.page-header Demo
        p.lead A Demo of joola.io basic functionality and a great way to check system health.

    .col-md-12
      .row
        .col-md-4
          #metricbox-1.metric.active
        .col-md-4
          #metricbox-2.metric
        .col-md-4
          #metricbox-3.metric
      .row
        .col-md-12
          #chart-1.chart

  .row
    .col-md-12
      p The demo responds to actions and events on this page. Everytime you move your mouse, visit the page or click on it, an event is pushed into joola.io and then visualized.
    .col-md-6
      p On every mouse-move the following document is compiled and pushed via Beacon:
      pre.prettyprint(lang="javascript").
        var doc = {
          timestamp: null,
          browser: 'Chrome',
          os: 'Linux',
          userid: 'demo user',
          mousemoves: 1
        };

        joolaio.beacon.insert('demo-mousemoves', doc);
      a.btn.btn-lg.btn-outline(href="http://github.com/joola/joola.io", role="button") Learn more about pushing data
    .col-md-6
      p Drawing visualizations is as easy as describing what you would like to see.
      pre.prettyprint(lang="javascript").
        var query = {
          timeframe: 'last_minute',
          interval: 'second',
          dimensions: ['timestamp'],
          metrics: ['mousemoves'],
          collection: 'demo-mousemoves'
        };

        $('#container').Timeline({query: query});
      a.btn.btn-lg.btn-outline(href="http://github.com/joola/joola.io", role="button") Learn more about visualization

  .row
    .col-md-12
      .bs-docs-section(id="gettingstarted")
        h1.page-header Getting Started
        p.lead An overview of joola.io, how to setup and use, basic usage, and more.
        h2 Configuration

        h2 Authentication

        h2 Pushing data

        h2 Visualization

include layout_footer