footer.bs-docs-footer
  .container
  

script(src="//code.jquery.com/jquery-1.11.0.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(src="//google-code-prettify.googlecode.com/svn/trunk/src/prettify.js")
script(src="js/ace-builds/src-noconflict/ace.js",type="text/javascript",charset="utf-8")
script(src="joola.io.js?APIToken=apitoken-root")
script(src="//www.codehelper.io/api/ips/?js")
script(src="js/ua-parser.min.js")
script(src="js/tablesort.min.js")
script(src="js/site.js")