!!! 5
html(lang='en', ng-app="ngjoola", xmlns:ng="http://angularjs.org")
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/3rd/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/jio-analytics.css', rel='stylesheet')
  body
    div.jioa-top

    div.jioa-canvas