!!! 5
html(lang='en', ng-app="ngjoola", xmlns:ng="http://angularjs.org")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title #{title}

    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/jio-analytics.css', rel='stylesheet')
    link(href='/css/style.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
  body
    div.jioa-top

    div.jioa-canvas