doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title joola.io

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//google-code-prettify.googlecode.com/svn/trunk/src/prettify.css")
    link(rel="stylesheet", href="css/pretty.css")
    link(rel="stylesheet", href="css/site.css")
  body
    nav.navbar(role="navigation", class=!playground ? "navbar-default" : "navbar-inverse")
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#main-nav")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") joola.io
        .collapse.navbar-collapse(id="main-nav")
          ul.nav.navbar-nav
            li
              a(href="/#demo") Demo
            li
              a(href="/#gettingstarted") Getting started
            li
              a.active(href="/playground") Playground
            li
              a(href="/benchmark") Benchmark              
          ul.nav.navbar-nav.navbar-right
            //li
              a(href="http://blog.joola.io") Blog
            li
              a(href="http://github.com/joola/joola.io/wiki") Documentation
            li
              a(href="http://github.com/joola/joola.io") joola.io site
