include layout_head

.container
  .row
    .col-md-12
      .bs-docs-section(id="demo")
        h1.page-header Playground
        p.lead Use this playground to explore your data.

    .col-md-12
      .row
        .col-md-4
          #metricbox-1.metric.active
        .col-md-4
          #metricbox-3.metric
        .col-md-4
          #metricbox-2.metric
      .row
        .col-md-12
          #chart-1.chart

include layout_footer