include layout_head

.container
  .row
    .col-md-12
      .bs-docs-section(id="demo")
        h1.page-header Playground 
          small on-the-spot realtime analytics.
        p.lead This playground allows you to compose reports on-the-spot from the different collections available.
        p Use the dimension and metric pickers to choose what data is analyzed. The timeframe and interval buttons will control the report's period.

  .row
    .col-md-12
      .col-md-12
        //span.pickersettings.glyphicon.glyphicon-cog
        .row.dimensionpickers
          #dplaceholder-1.dimensionpicker.target + add dimension
          //#placeholder-3.dimensionpicker + Add dimension
        .row.metricpickers
          #mplaceholder-1.metricpicker + add metric

  hr

  .row.metrics
    .col-md-2
      #metricbox-1.metric.active
    .col-md-2
      #metricbox-2.metric
    .col-md-2
      #metricbox-3.metric
    .col-md-2
      #metricbox-4.metric
    .col-md-2
      #metricbox-5.metric
    .col-md-2
      #metricbox-6.metric
  .row
    .col-md-12
      #chart-1.chart

.pickerPopup.dimensionsPopup
.pickerPopup.metricsPopup

#metricModal.modal.fade(role="dialog")
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
        h4.modal-title Metric Properties
      .modal-body
        form(role="form")
          .form-group
            label(for="inputKey") Key
            input.form-control(type="text", id="inputKey" value="collection.key" disabled="true")
          .form-group
            label(for="inputDisplayName") Display Name
            input.form-control(type="text", id="inputDisplayName", placeholder="Enter display name for the metric")
          .form-group
            label(for="inputAggregation") Aggregation
            select.form-control(id="inputAggregation")
              option(value="SUM") SUM
              option(value="AVG") AVG
              option(value="MAX") MAX
              option(value="MIN") MIN
          .form-group
            label(for="inputPrefix") Prefix
            input.form-control(type="text", id="inputPrefix", placeholder="Enter metric's prefix, i.e. '$'")
          .form-group
            label(for="inputSuffix") Suffix
            input.form-control(type="text", id="inputSuffix", placeholder="Enter metric's suffix, i.e. 'ms'")
          
          button.btnSubmit.btn.btn-default Submit

include layout_footer
