#sidebar-left.col-sm-1
  .nav-collapse.sidebar-nav.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu
      sidebar
a#main-menu-toggle.hidden-xs.open
  i.fa.fa-bars
