block variables
  title = "joola.io - manage"
include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper
      .row
        .col-lg-12
          h1.page-caption
            | Message Dispatch&nbsp;
            small The grid's heart-beat
          ol.breadcrumb
            li
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;Dashboard
            li.active
              i.fa.fa-tasks
              | &nbsp;Message Dispatch
          //.alert.alert-info
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | The System Performance view displays information about all participating nodes.
            | For each node, you'll see a detailed breakdown of performance KPIs. To learn more about System Performance, check out our&nbsp;
            a(href="#wiki") wiki
            | .
      .row
        .col-lg-3
          .panel.panel-info
            .panel-heading
              .row
                .col-xs-5
                  i.fa.fa-signal.fa-5x
                .col-xs-7.text-right
                  p.announcement-heading.manage-dashboard-metric-events --
                p.announcement-text EPS
        .col-lg-3
          .panel.panel-warning
            .panel-heading
              .row
                .col-xs-5
                  i.fa.fa-lock.fa-5x
                .col-xs-7.text-right
                  p.announcement-heading.manage-dashboard-metric-event-loop-blocks --
                p.announcement-text Event-loop-blocks
        .col-lg-3
          .panel.panel-success
            .panel-heading
              .row
                .col-xs-5
                  i.fa.fa-power-off.fa-5x
                .col-xs-7.text-right
                  p.announcement-heading.manage-dashboard-metric-nodes --
                p.announcement-text Nodes
        .col-lg-3
          .panel.panel-danger
            .panel-heading
              .row
                .col-xs-5
                  i.fa.fa-tasks.fa-5x
                .col-xs-7.text-right
                  p.announcement-heading.manage-dashboard-metric-load --
                p.announcement-text System Load
      .row(style="margin-bottom:10px")
        .col-lg-3
          div.right-inner-addon
            i.fa.fa-search
            input(type="search",class="form-control",placeholder="Search")

        .col-lg-6.pull-right(style="margin-top:5px")
          ul.list-inline.pull-right
            li: a(href="#", ng-click="eventDateFilter('all')") All
            li: a(href="#", ng-click="eventDateFilter('day')") Pending
            li: a(href="#", ng-click="eventDateFilter('1hour')") Picked
            li: a(href="#", ng-click="eventDateFilter('5min')") Fulfilled
      .row
        #content.col-sm-12
          .row.nodelist
            .col-lg-3.template-node.nodeitem
              .panel.panel-danger
                .panel-heading
                  .row
                    .col-xs-8
                      p.announcement-text.pull-left.message-channel -------
                    .col-xs-4
                      p.announcement-text.pull-right.message-since(style="margin-right:0; text-transform:none") 1 sec
                  .row.clearfix
                    .col-xs-12(style="margin-top:10px;")
                      p.message-fromto 1pW0Jb1YM...
                  .row.clearfix
                    .col-xs-12
                      p.announcement-text.text-center.message-status(style="margin-right:0;float:none") PENDING

  include ../layout_footer
  script.
    $(window).on('page-ready',function(){
      dispatch_setup();
    });