block variables
  title = "joola.io - manage"
include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper
      .row
        .col-lg-12
          h1.page-caption
            | Message Dispatch&nbsp;
            small The grid's heart-beat
          ol.breadcrumb
            li
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;Dashboard
            li.active
              i.fa.fa-tasks
              | &nbsp;Message Dispatch
          //.alert.alert-info
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | The System Performance view displays information about all participating nodes.
            | For each node, you'll see a detailed breakdown of performance KPIs. To learn more about System Performance, check out our&nbsp;
            a(href="#wiki") wiki
            | .
      .row
        .col-lg-3.widget.widget-sytstemload
        .col-lg-3.widget.widget-waittime
        .col-lg-3.widget.widget-eps
        .col-lg-3.widget.widget-roundtrip
      .row
        .col-lg-3.widget.widget-nodes
        .col-lg-3.widget.widget-querytime
        .col-lg-3.widget.widget-fulfilled
        .col-lg-3.widget.widget-elb
      .row
        .col-lg-3.widget.widget-tokens
        .col-lg-3.widget.widget-cachehits
        .col-lg-3.widget.widget-fulfilltime
        .col-lg-3.widget.widget-exceptions

      .row(style="margin-bottom:10px")
        .col-lg-12.playcontrols
          div.pull-left(style="margin-right:10px;")
            button.btn.btn-default.btn-pause
              i.fa.fa-pause.playicon
          div.pull-left
            div.right-inner-addon
              i.fa.fa-search
              input.search(type="search",class="form-control",placeholder="Search")
          //div.pull-left(style="margin-left:15px;padding-top:15px")
            div.pull-left Show: &nbsp;
            ul.pull-right.list-inline
              li: a(href="#", ng-click="eventDateFilter('all')") All
              li: a(href="#", ng-click="eventDateFilter('day')") Pending
              li: a(href="#", ng-click="eventDateFilter('1hour')") Picked
              li: a(href="#", ng-click="eventDateFilter('5min')") Fulfilled
      .row.nodelist
        #content.col-sm-12
          .col-lg-12.template-node.nodeitem.dispatch-message.hidden
            .panel.panel-info
              .panel-heading
                .row
                  .col-lg-2
                    p.announcement-text.pull-left.message-channel -------
                  .col-lg-2
                    p.message-from ---------
                  .col-lg-2
                    p.message-to ---------
                  .col-lg-2
                    p.announcement-text.text-center.message-status(style="margin-right:0;float:none") PENDING
                  .col-lg-2
                    p.announcement-text.pull-right.message-since(style="margin-right:0; text-transform:none") ---
                  .col-lg-2
                    p.announcement-text.pull-right
                      i.fa.fa-arrow-circle-right.icon-payload
                      i.fa.fa-arrow-circle-left.icon-result(style="padding-left:3px;")
                      i.fa.fa-dot-circle-o(style="padding-left:3px;")
    //.row.nodelist
            .col-lg-3.template-node.nodeitem.hidden
              .panel.panel-info
                .panel-heading
                  .row
                    .col-xs-8
                      p.announcement-text.pull-left.message-channel -------
                    .col-xs-4
                      p.announcement-text.pull-right.message-since(style="margin-right:0; text-transform:none") ---
                  .row.clearfix
                    .col-xs-12(style="margin-top:10px;")
                      p.message-fromto 1pW0Jb1YM...
                  .row.clearfix
                    .col-xs-12
                      p.announcement-text.text-center.message-status(style="margin-right:0;float:none") PENDING

  include ../layout_footer
  script.
    $(window).on('page-ready',function(){
      dispatch_setup();
    });