block variables
  title = "joola.io - manage"
include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper
      .row
        .col-lg-12
          h1.page-caption
            | Dashboard&nbsp;
            small overview of joola.io
          ol.breadcrumb
            li
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;Dashboard
            li.active
              i.fa.fa-circle-o
              | &nbsp;Overview
          //.alert.alert-success
            button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
            | Welcome to joola.io management console.
            | The management console gathers all required monitors, tools, configuration and more needed to operate the system.
            | To learn more about the management console, check out our&nbsp;
            a(href="#wiki") wiki
            | .
      .row
        .col-lg-3.widget.widget-sytstemload
        .col-lg-3.widget.widget-waittime
        .col-lg-3.widget.widget-eps
        .col-lg-3.widget.widget-roundtrip
      .row
        .col-lg-3.widget.widget-nodes
        .col-lg-3.widget.widget-querytime
        .col-lg-3.widget.widget-fulfilled
        .col-lg-3.widget.widget-elb
      .row
        .col-lg-3.widget.widget-tokens
        .col-lg-3.widget.widget-cachehits
        .col-lg-3.widget.widget-fulfilltime
        .col-lg-3.widget.widget-exceptions
      hr
      .row
        .col-lg-12
          .panel.panel-primary
            .panel-heading
              h3.panel-title
                i.fa.fa-bar-chart-o &nbsp;System Performance for the past minute.
            .panel-body
              div.dashboard-chart(id="dashboard-chart")

      //.row
        .col-lg-4
          .panel.panel-primary
            .panel-heading
              h3.panel-title
                i.fa.fa-clock-o
                | &nbsp;Recent cache misses
            .panel-body
              .list-group
                a.list-group-item(href='#')
                  span.badge just now
                  i.fa.fa-calendar
                  | &nbsp;Calendar updated
              .text-right
                a(href='#')
                  | &nbsp;View All Tokens&nbsp;
                  i.fa.fa-arrow-circle-right

        .col-lg-4
          .panel.panel-primary
            .panel-heading
              h3.panel-title
                i.fa.fa-clock-o
                | &nbsp;Recent logins
            .panel-body
              .list-group
                a.list-group-item(href='#')
                  span.badge just now
                  i.fa.fa-calendar
                  | &nbsp;Calendar updated
              .text-right
                a(href='#')
                  | &nbsp;View All Tokens&nbsp;
                  i.fa.fa-arrow-circle-right

        .col-lg-4
          .panel.panel-primary
            .panel-heading
              h3.panel-title
                i.fa.fa-clock-o
                | &nbsp;Recent exceptions
            .panel-body
              .list-group
                a.list-group-item(href='#')
                  span.badge just now
                  i.fa.fa-calendar
                  | &nbsp;Calendar updated
              .text-right
                a(href='#')
                  | &nbsp;View All Tokens&nbsp;
                  i.fa.fa-arrow-circle-right
  include ../layout_footer
  script.
    $(window).on('page-ready',function(){
      dashboard_setup();
    })