block variables
  title = "joola.io - manage"
include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper
      .row
        .col-lg-12
          h1.page-caption
            | System Performance&nbsp;
            small Nodes' performance and load
          ol.breadcrumb
            li
              a(href="/manage/dashboard/index")
                i.fa.fa-dashboard
                | &nbsp;Dashboard
            li.active
              i.fa.fa-tasks
              | &nbsp;System Performance

      .row
        .col-lg-3.widget.widget-sytstemload
        .col-lg-3.widget.widget-waittime
        .col-lg-3.widget.widget-eps
        .col-lg-3.widget.widget-roundtrip
      .row
        .col-lg-3.widget.widget-nodes
        .col-lg-3.widget.widget-querytime
        .col-lg-3.widget.widget-fulfilled
        .col-lg-3.widget.widget-elb
      .row
        .col-lg-3.widget.widget-tokens
        .col-lg-3.widget.widget-cachehits
        .col-lg-3.widget.widget-fulfilltime
        .col-lg-3.widget.widget-exceptions
      hr
      .row.nodelist
        .col-lg-3.template-node.nodeitem.hidden
          .panel.panel-primary
            .panel-heading
              h3.panel-title
                i.fa.fa-power-off.node-caption &nbsp;ITAY-OFFICE:abcd1234
            .panel-body
              .row
                .col-lg-8
                  dl
                    dt LAST SEEN
                    dd.node-uptime ---
                    dt CPU
                    dd.node-cpu ---
                    dt MEMORY
                    dd.node-memory ---
                .col-lg-4
                  .row
                    .col-lg-12
                      button.btn.btn-danger.btn-terminate(type="button") Terminate
                  .row
                    .col-lg-12
                      .flot-chart-moving-line

                 
              .clearfix
              .row

           



  include ../layout_footer
  script.
    $(window).on('page-ready',function(){
      nodes_setup();
    })