block variables
  title = "joola.io - manage"
include ../layout_head
body
  #wrapper
    include ../layout_navbar
    #page-wrapper
      .row
        .col-lg-12
          h1.page-caption
            | POC&nbsp;
            small let the magic happen
      .row
        .col-pg-12
          #output
  include ../layout_footer
  script.
    $(window).on('page-ready',function(){
      POC_setup();
    });