---
layout: default
---

<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>{{ page.title }}</h1>

    
  </div>
</div>
<div class="container page-wrapper post-content">
  {{ content }}
</div>

<div class="container page-wrapper">
  <div class="post with-sidebar ">
    {% for tag in page.tags %}
    <span class="label label-default post-tag">{{ tag }}</span>

    {% endfor %}
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <article class="post-content">
      {{ content }}
    </article>

  </div>

</div>