include ../head
body
  include ../navbar
  .container
    .row
      include ../sidebar
      #content.col-sm-11
        .row
          .col-lg-12
            .box
              .box-header
                h2
                  i.fa.fa-edit
                  span.break
                  | Data sources
                .box-icon
                  a.btn-setting(href='form-wizard.html#')
                    i.fa.fa-wrench
                  a.btn-minimize(href='form-wizard.html#')
                    i.fa.fa-chevron-up
                  a.btn-close(href='form-wizard.html#')
                    i.fa.fa-times
              .box-content
                div(ng-controller="dsCtrl")
                  ul.list-inline
                    li(ng-repeat="ds in list", ng-clock)
                      button(data-dsid="{{ds.name}}", type="button", data-toggle="button").btn.btn-warning {{ds.name}} - {{ds.type}}
                br
                button.btn.btn-primary.btn-lg(data-toggle="modal" data-target="#datasourceAdd") Add data source
                
                .step-content

              .box
                .box-header
                  h2
                    i.fa.fa-edit
                    span.break
                    | Data Tables
                  .box-icon
                    a.btn-setting(href='form-wizard.html#')
                      i.fa.fa-wrench
                    a.btn-minimize(href='form-wizard.html#')
                      i.fa.fa-chevron-up
                    a.btn-close(href='form-wizard.html#')
                      i.fa.fa-times
                .box-content
                  div(ng-controller="dtCtrl")
                    
                  br
                  button.btn.btn-primary.btn-lg(data-toggle="modal" data-target="#datasourceAdd") Add data source
        
                  .step-content

      #widgets-area.col-sm-2
        ul#myTab.nav.tab-menu.nav-tabs
          li.active
            a(href='form-wizard.html#charts')
              i.fa.fa-bar-chart-o
          li
            a(href='form-wizard.html#users')
              i.fa.fa-group
          li
            a(href='form-wizard.html#messages')
              i.fa.fa-envelope
          li
            a#close-widgets-area(href='form-wizard.html#')
              i.fa.fa-sign-in
        #myTabContent.tab-content
          #charts.tab-pane.active
            .bar-stat
              span.title Account balance
              span.value $19 999,99
              span.chart.green 7,3,2,6,6,3,9,0,1,4
            hr
            .bar-stat
              span.title Clients
              span.value 1278
              span.chart.yellow 8,2,5,4,7,4,7,2,5,9
            hr
            .bar-stat
              span.title Orders
              span.value 5876
              span.chart.blue 2,4,6,8,3,5,9,3,2,2
            hr
            .bar-stat
              span.title Messages
              span.value 673
              span.chart.red 0,3,3,8,3,3,2,7,8,4
            hr
            #cpu-usage
            ul.progress-bars
              li
                span.title Free Memory
                span.percent
                .taskProgress.progressSlim.progressGreen 80
              li
                span.title Free HDD Drive
                span.percent
                .taskProgress.progressSlim.progressYellow 20
              li
                span.title Free SSD Drive
                span.percent
                .taskProgress.progressSlim.progressBlue 57
              li
                span.title Transfer
                span.percent
                .taskProgress.progressSlim.progressRed 45
          #users.tab-pane
            ul.users-list
              li
                a(href='form-wizard.html#')
                  span.status.active
                  span.avatar
                    img.img-circle(src='/img/avatar.jpg', alt='Avatar')
                  span.name Łukasz Holeczek
              li
                a(href='form-wizard.html#')
                  span.status.busy
                  span.avatar
                    img.img-circle(src='/img/avatar2.jpg', alt='Avatar')
                  span.name Megan Abott
              li
                a(href='form-wizard.html#')
                  span.status.disable
                  span.avatar
                    img.img-circle(src='/img/avatar3.jpg', alt='Avatar')
                  span.name Kate Ross
              li
                a(href='form-wizard.html#')
                  span.status.active
                  span.avatar
                    img.img-circle(src='/img/avatar4.jpg', alt='Avatar')
                  span.name Julie Blank
              li
                a(href='form-wizard.html#')
                  span.status
                  span.avatar
                    img.img-circle(src='/img/avatar5.jpg', alt='Avatar')
                  span.name Jane Sanders
              li
                a(href='form-wizard.html#') View all users
          #messages.tab-pane
            ul.messages-list
              li
                a(href='form-wizard.html#')
                  .avatar
                    img.img-circle(src='/img/avatar.jpg', alt='Avatar')
                  span.name Łukasz Holeczek
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='form-wizard.html#')
                  .avatar
                    img.img-circle(src='/img/avatar2.jpg', alt='Avatar')
                  span.name Megan Abott
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='form-wizard.html#')
                  .avatar
                    img.img-circle(src='/img/avatar3.jpg', alt='Avatar')
                  span.name Kate Ross
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='form-wizard.html#')
                  .avatar
                    img.img-circle(src='/img/avatar4.jpg', alt='Avatar')
                  span.name Julie Blank
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='form-wizard.html#')
                  .avatar
                    img.img-circle(src='/img/avatar5.jpg', alt='Avatar')
                  span.name Jane Sanders
                  span.date 25/6/2013
                  span.title Custom Bootstrap design for new client
              li
                a(href='form-wizard.html#') View all messages
      a#widgets-area-button.hidden-sm.hidden-xs.open
        i.fa.fa-bars
    include dialogs.jade
  .clearfix
  
  include ../footer
    