div.jioa-footer

script(src='/3rd/jquery/jquery-2.0.3.min.js')
script(src='/3rd/timeago/jquery.timeago.js')
script(src='/3rd/raphael/raphael-min.js')
script(src='/3rd/morrisjs/morris.min.js')
script(src='/3rd/flot/jquery.flot.min.js')
script(src='/3rd/flot/jquery.flot.pie.js')
script(src='/3rd/flot/jquery.flot.time.js')

script(src='/3rd/angular/angular.min.js')
script(src='/3rd/angular/angular-route.min.js')

script(src='/3rd/bootstrap/js/bootstrap.min.js')
script(src='/3rd/bootstrap/js/bootstrap-switch.min.js')
script(src='/3rd/bootstrap/js/bootstrap-clickover.js')
script(src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js")

///The joola.io framework
script(src="/joola.io.js?token=#{token}")

///The management framework
script(data-main="/manage/js/manage.js", src='/3rd/requirejs/requirejs.min.js')