block variables
!!! 5
html(lang='en', xmlns:ng="http://angularjs.org")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    - var title = title || "joola.io"
    title #{title}

    link(href='/3rd/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/3rd/bootstrap/css/bootstrap-switch.min.css', rel='stylesheet')
    link(href='/shared/css/jio-analytics.css', rel='stylesheet')
    link(href='/shared/css/style.min.css', rel='stylesheet')
    link(href='/shared/css/font-awesome.min.css', rel='stylesheet')

    link(href="/3rd/morrisjs/morris.css", rel="stylesheet")
    link(href='/manage/css/manage.css', rel='stylesheet')

    link(href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css", rel="stylesheet")
  body
    div.jioa-top

    div.jioa-canvas