div.jioa-footer

script(src='/3rd/jquery/jquery-2.0.3.min.js')
script(src='/3rd/angular/angular.min.js')
script(src='/3rd/angular/angular-route.min.js')


script(src='/3rd/bootstrap/js/bootstrap.min.js')
script(src='/3rd/bootstrap/js/bootstrap-switch.min.js')
script(src='/3rd/bootstrap/js/bootstrap-clickover.js')

script(src='/3rd/highcharts/highcharts.3.0.2.js')

///The joola.io framework
script(src="/joola.io.js?token=#{token}")

///The management framework
//script(data-main="/manage/js/manage.js", src='/3rd/requirejs/requirejs.min.js')

script(src='/manage/js/angular/app.js')
script(src='/manage/js/angular/filters.js')
script(src='/manage/js/angular/directives.js')
script(src='/manage/js/angular/services.js')
script(src='/manage/js/angular/controllers.js')
  