.collapse.navbar-collapse.navbar-ex1-collapse
  ul.nav.navbar-nav.side-nav
    .menu_wrapper.listcontainer
      .maintopic
      .topic.topic-dashboards
        .topicheader
          .colorspacer
          i.fa.fa-dashboard
          .topiccaption Dashboards
        ul.nav-dashboards.subtopic
          li.subtopicheader.subtopicheader_wrapper
            a#dashboard-overview.topiclink(title='Overview', href="/manage/dashboard/index")
              .subtopiccaption Overview
          li.subtopicheader.subtopicheader_wrapper
            a#nodes.topiclink(title='System Performance', href="/manage/dashboard/nodes")
              .subtopiccaption System Performance
          li.subtopicheader.subtopicheader_wrapper
            a#dispatch.topiclink(title='Message Dispatch', href="/manage/dashboard/dispatch")
              .subtopiccaption Message Dispatch
      .topic.topic-reports
        .topicheader
          .colorspacer
          
          i.fa.fa-table
          .topiccaption: a.maintopiclink(href="/manage/dataintegration/index") Data Integration
      .topic.topic-usermanagement
        .topicheader
          .colorspacer
          
          i.fa.fa-users
          .topiccaption User Management
        ul.nav-reports.subtopic
          li.subtopicheader.subtopicheader_wrapper
            a#users.topiclink(title='Users', href="/manage/users/index")
              .subtopiccaption Users
          li.subtopicheader.subtopicheader_wrapper
            a#roles.topiclink(title='Roles & Permissions', href="/manage/users/roles")
              .subtopiccaption Roles & Permissions
          li.subtopicheader.subtopicheader_wrapper
            a#orgs.topiclink(title='Organizations', href="/manage/users/organizations")
              .subtopiccaption Organizations
      .topic.topic-settings
        .topicheader
          .colorspacer

          i.fa.fa-gears
          .topiccaption: a.maintopiclink(href="/manage/settings/index") System Settings

  ul.nav.navbar-nav.navbar-right.navbar-user
    li.dropdown.user-dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.fa.fa-user
        | &nbsp;#{user.displayName} &nbsp;
        b.caret
      ul.dropdown-menu
        li
          a(href='/logout')
            i.fa.fa-power-off
            | &nbsp;Log Out